# Environment
.env
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*.pyo

# Django
db.sqlite3
staticfiles/
media/profile_photos/*
!media/profile_photos/.gitkeep

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Deployment
.vercel
